@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --textColor:#1d3557;
}
body {
    background-color: #a8dadc;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #a8dadc;
    margin: 3% auto;
    text-align: center;
}

.title {
    color:var(--textColor);
    padding-bottom: 2%;
    font-size: 2rem;
}

.BillAmount {
    color:var(--textColor);

    padding-bottom: 2%;
}

#bill {
    margin: 1%
}

.billButton {
    margin-top: 1%;
    color:var(--textColor);

}

.cash {
    padding-top: 2%;
    color:var(--textColor);

}
.cashButton{
    color:var(--textColor);

}

.calculation{
    color:var(--textColor);

    font-size: 17px;

    margin: 3% 40%;

    border: 1px solid var(--textColor);
}